.maps {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}
#search .toolbar-content{
    min-width: 90%;
}

.segment-button{
 border-color: lightgray;
 opacity: 0.75;
}

.segment-button.activated, .segment-button.segment-activated{
 border-color: white;   
}

.toolbar ion-searchbar .searchbar-input {
    background: rgba(255,255, 255, 1);
}

.user-icon img {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}