<ion-menu id="menu" [content]="content" drag-content="false">

    <ion-toolbar id="menu-toolbar" primary>
        <img class="logo" src="img/icon.png"/>
        <ion-title id="title">Maps</ion-title>
    </ion-toolbar>

    <ion-content>
        <ion-list>
            <ion-list-header>
                Modes
            </ion-list-header>
            <button menuClose ion-item *ngFor="let m of modes" (click)="openPage(m)">
                <ion-icon primary name="{{m.icon}}" item-left></ion-icon>{{m.title}}
            </button>
            <ion-list-header>
                About
            </ion-list-header>
            <button menuClose ion-item *ngFor="let p of aboutPages" (click)="openPage(p)">
                <ion-icon primary name="{{p.icon}}" item-left></ion-icon>{{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>