.leaflet-routing-container {
    height: 100%;
    width: 100% !important;
    font-size: 12px;
      border: none !important;
      box-shadow: none !important;
      border-radius: 0 !important;
  }
#itinerary-container > div > div > div > table > tbody > tr > td {
  padding: 5px;
}

.leaflet-routing-alt{
  max-height: none !important;
        padding: 15px 30px !important;

}

.leaflet-routing-alternatives-container{
    height: 100%;
}

.leaflet-routing-collapse-btn{
  display: none !important;
}

#itinerary-container > div > div > div > table {
 margin: auto;   
}
    